*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .staff{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
} */

h1{
    text-align: center;
    margin: 20px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
    margin: 50px;
}

.image-container{
    display: flex;
}

.image-container img{
    width: 100%;
}

article{
    padding: 50px;
    box-shadow: 0px 0px 1px #000;
    text-align: center;
        h2{
            margin: 12px 8px;
        }
}